<div id="booking-success-container" data-booking-id="<%= @booking_id %>"></div>

<%= javascript_packs_with_chunks_tag 'booking_success', 'application' %>
<%= stylesheet_packs_with_chunks_tag 'booking_success', 'application' %>